{{! Javadoc (doxygen) Docstring Template }}
! {{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersExist}}
{{#args}}
    @param {{var}}             {{descriptionPlaceholder}}
{{/args}}
{{/parametersExist}}
{{#exceptionsExist}}
{{#exceptions}}
    @exception {{type}}          {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}
{{#returnsExist}}
{{#returns}}
    @returns                 {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}


